<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cli.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap" rel="stylesheet">
    <title>uno</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Incio</a>
            <a href="/miscreditos">mis creditos</a>
            <a href="/ahorro">Cuneta de ahorro</a>
            <a class="cerrar" href="cerrar">Cerrar Sesion</a>
    
        </nav>
        <section class="textosheader">
            <h1>nombre del Banco</h1>
            <h2>eslogan</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C202.63,235.36 374.79,-52.78 518.12,101.14 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffffff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Servicios</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/WhatsApp Image 2021-06-24 at 4.21.51 PM.jpeg" alt="" class="imagen-abaut">
                <div class="contenido-texto">
                    <h3><span>1</span>paquetes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, totam.</p>
                    <h3><span>2</span>paquetes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, totam.</p>
                    <h3><span>3</span>paquetes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, totam.</p>

                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/WhatsApp Image 2021-06-24 at 4.21.51 PM.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="/cursor_PNG88.png" alt="">
                            <p>nuestro tranajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/WhatsApp Image 2021-06-24 at 4.21.51 PM.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="/cursor_PNG88.png" alt="">
                            <p>nuestro tranajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/WhatsApp Image 2021-06-24 at 4.21.51 PM.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="/cursor_PNG88.png" alt="">
                            <p>nuestro tranajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/WhatsApp Image 2021-06-24 at 4.21.51 PM.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="/cursor_PNG88.png" alt="">
                            <p>nuestro trabajo</p>
                        </div>
                    </div>
                    
                </div>

                
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-fotter">
            <div class="content-foo">
                <img class="face" src="/facebook_logos_PNG19753.png" alt="">
                <p>empresa</p>
            </div>
            <div class="content-foo">
                <img class="face" src="/instagram_PNG3.png" alt="">
                <p>@empresa</p>
            </div> 
        </div>
        <h2 class="titulo-final">&copy; nombre empresa </h2>
    </footer>
</body>
</html>